#journal{
max-width: 270px;
margin: 68px auto;

h1{
font-family: "Open Sans";
font-weight: 700;
font-size: 30px;
letter-spacing: 3.51px;
color: #2c2e37;
text-transform: uppercase;
text-align: center;

}
.journal_wave{

padding-left: 33.333333%;
}   
}

.jorn1{
margin-top: 70px;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
// background-color: rgb(155, 234, 240);
max-width: 1140px;

.inside_first{
width: 380px;
height: 380px;
// background: chartreuse;
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
flex-direction: column;
align-items: center;
}

@media(max-width: 1411px){
	
  justify-content: center;
}

@media(max-width: 966px){
  justify-content: center;
}




h1{
font-family: "Open Sans", sans-serif;
color: #16b5ef;
font-size: 11px;
font-weight: 700;
// margin: 40px auto; 
text-transform: uppercase;
letter-spacing: 1.74px;
line-height: 12.54px;

}
h2{
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 700;
color: #212121;
text-align: center;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 2.55px;
// margin: 80px auto;
line-height: 24.23px;
}
h3{

color: #777777;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
// margin: 24px 0 0 35px;
line-height: 22.8px;
text-align: center;
}
h4{

color: #212121;
font-family: "Times New Roman ";
font-style: italic;
font-size: 14px;
font-weight: 400;
line-height: 17.1px;
// margin: 39px 0 0 184px;

} 


}





.journal_1{
overflow: hidden;
width: 381px*3;
// width: 1170px;
height: 381px;
// border: 2px solid #000;
justify-content: space-between; //Блоки распределены вдоль главной оси, при этом первый элемент прижат к началу оси, а последний - к концу:
display: flex;

#love_img {
// position:relative;
}
#img2_heart {
// position: absolute;
left: 150px;
top: 150px;
}

.head_line {
// position: absolute;
padding-left: 381px;
h1{
// position: absolute;
font-family: "Open Sans", sans-serif;
color: #16b5ef;
font-size: 11px;
font-weight: 700;
margin: 49px 0 0 172px;
text-transform: uppercase;
letter-spacing: 1.74px;
line-height: 12.54px;

}
h2{
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 700;
color: #212121;
text-align: center;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 2.55px;
margin: 113px 0 0 30px;
line-height: 24.23px;
}
p{

color: #777777;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
margin: 24px 0 0 35px;
line-height: 22.8px;
text-align: center;
}
h4{

color: #212121;
font-family: "Times New Roman ";
font-style: italic;
font-size: 14px;
font-weight: 400;
line-height: 17.1px;
margin: 39px 0 0 184px;

} 
}
#water_img {
position:relative;
}
#img2_water {
// position: absolute;
left: 161px;
top: 153px;

}
}

.journal_2{
overflow: hidden;
max-width: 380px*3;
height: 380px;
// border: 2px solid #000;
justify-content: space-between; //Блоки распределены вдоль главной оси, при этом первый элемент прижат к началу оси, а последний - к концу:
display: flex;

.center_line {
// position: absolute;
// padding-left: 381px;
width: 381px;
h1{
// position: absolute;
font-family: "Open Sans", sans-serif;
color: #16b5ef;
font-size: 11px;
font-weight: 700;
margin: 49px 0 0 172px;
text-transform: uppercase;
letter-spacing: 1.74px;
line-height: 12.54px;

}
h2{
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 700;
color: #212121;
text-align: center;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 2.55px;
margin: 113px 0 0 30px;
line-height: 24.23px;
}
p{
color: #777777;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
margin: 24px 0 0 35px;
line-height: 22.8px;
text-align: center;
}
h4{
color: #212121;
font-family: "Times New Roman ";
font-style: italic;
font-size: 14px;
font-weight: 400;
line-height: 17.1px;
margin: 39px 0 0 184px;

} 
}

#leaf_img {
position:relative;
// padding-left:380px;
}
#img2_leaf {
// position: absolute;
left: 158px;
top: 158px;
}

.footer_line {
// position: absolute;
// padding-left: 381px;
width: 381px;
h1{
// position: absolute;
font-family: "Open Sans", sans-serif;
color: #16b5ef;
font-size: 11px;
font-weight: 700;
// margin: 49px 0 0 172px;
text-transform: uppercase;
letter-spacing: 1.74px;
line-height: 12.54px;

}
h2{
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 700;
color: #212121;
text-align: center;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 2.55px;
margin: 113px 0 0 30px;
line-height: 24.23px;
}
p{

color: #777777;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
margin: 54px 0 0 35px;
line-height: 22.8px;
text-align: center;
}
h4{

color: #212121;
font-family: "Times New Roman ";
font-style: italic;
font-size: 14px;
font-weight: 400;
line-height: 17.1px;
margin: 39px 0 0 184px;

} 
}
}

.journal_footer{
// overflow: hidden;
height: 60px;
// border: 2px solid red;
}